@model Drinks.Models.Drink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<script>
    function BuyDrink() {
        $.ajax({
            url: '/api/drinks/@Model.Id/buy',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: () => location.reload(),
        });
    }
</script>

<div>
    <h4>Drink</h4>
    <hr />
    @{ if (@Model.Amount > 0)
        {
            <a class="btn btn-success" onclick="javascript:BuyDrink();">Buy</a>
        }
        else
        {
            <a class="btn btn-success disabled" onclick="javascript:BuyDrink();">Buy</a>
        }
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
</div>
<div>
    @{if (User.IsInRole("Admin") || User.IsInRole("Mod"))
        {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>} } |
    <a asp-action="Index">Back to List</a>
</div>
